{% extends 'blogapp/base.html' %}
{% block navblock %}
{% load crispy_forms_tags %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css"/>
<center><h1> Detailed Blog: </h1></center>

    {% if images %}




    <div class="container">
      <div class="well">
          <div class="media">
          	<a class="pull-left">
        		<img class="media-object" src="{{images.image.url}}" width = 200px height = 200px>
      		</a>
      		<div class="media-body">
        		<center><h4 class="media-heading">{{images.title}}</h4></center>
              <p class="text-right">By {{images.author}}</p>
              <p>{{images.description}} </p>
              <ul class="list-inline list-unstyled">

      			<li><span><i class="glyphicon glyphicon-calendar"></i> {{images.upload_date| timesince}} </span></li>
                <li>|</li>
                <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                <li>|</li>
                <li>
                   <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                </li>
                <li>|</li>
                <li>
                <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
                  <span><i class="fa fa-facebook-square"></i></span>
                  <span><i class="fa fa-twitter-square"></i></span>
                  <span><i class="fa fa-google-plus-square"></i></span>
                </li>
    			</ul>
           </div>
        </div>
      </div>


      {%else%}
      "NO DATA FOUND"
      {%endif%}
{%endblock%}
